*{
    margin:0;
    padding:0;
    list-style-type: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}
.body{
    background-image: url(../images/shutterstock_2189773743\ 1.png);
    background-size: 100%;
}
body{
    background-color: #e7e7e7;
    width: 100%;
}
.redberry_logo{
    background-image: url(../images/LOGO-02\ 3.png);
    background-repeat: no-repeat;
    width: 336px;
    height: 38px;
    margin:25px auto auto 70px;
    text-indent: -999px;
}
.line-div{
    width:auto;
    top: 89px;
    left:70px;
    right: 70px;
    border: 1px solid #000000;
    position: absolute;
}
.home_div_img{
    background-image: url(../images/LOGO-40\ 1.png);
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 40%;
    left: 50%;
}
.home_p a{
    position: absolute;
    background-color: #1A1A1A;
    color: #ffffff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 16px 100px;
    border-radius: 8px;
}

/* ------------------------------------------
--------------piradi.html--------------------
--------------------------------------------- */
.piradi_main{
    
}
.fa-chevron-left-a{
    margin:57px 0 0 62px ;
    padding:10px;
    background-color: #ffffff;
    display: inline-block;
    border-radius: 100%;
}
.piradi_div_1{
    
    /* position: relative; */
}
.piradi_div_2{
    
    background-color: #e7e7e7;
    width:60%;
    height: 100%;
}
.piradi_piradiInfo{
    position: absolute;
    color: #1A1A1A;
    font-weight: 700;
    font-size: 24px;
    top:57px;
    left:150px;
    /* display: flex; */
}
.pages1_3{
    position: absolute;
    top:68px;
    left: 634px;
}
.piradi_line{
    width: auto;
    border: #000000 solid 1px;
    margin: 12px 150px 0;
}

.piradi_div_3{
    position: fixed;
    background-color: #ffffff;
    width:40%;
    height: 100%;
    /* border: #ffffff solid 1px; */
    right:0;
    top: 0;
}
/* -----------form------- */
.piradi_form{
    position: relative;
    /* background-color: #1A1A1A; */
    width: 60%;
}
.label_firstname{
    position: absolute;
    width: 250px;
    top: 77px;
    left: 150px;
    font-weight: 500;
    font-size: 16px;
}
.firstname{
    position: absolute;
    top:106px;
    left: 150px;
    width: 250px;
    height: 44px;
    outline: none;
    color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
    border: #BCBCBC solid 1px;
    padding-left: 10px;
    border-radius: 4px;
}
.firstname_p{
    position: absolute;
    font-size: 14px;
    color: #2E2E2E;
    top: 160px;
    left: 150px;
    width: 250px;
}
.label_lastname{
    position: absolute;
    width: 250px;
    top: 77px;
    right: 150px;
    font-weight: 500;
    font-size: 16px;
}
.lastname{
    position: absolute;
    right: 150px;
    top: 106px;
    width: 250px;
    height: 44px;
    outline: none;
    color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
    border: #BCBCBC solid 1px;
    padding-left: 10px;
    border-radius: 4px;
}
.lastname_p{
    position: absolute;
    font-size: 14px;
    color: #2E2E2E;
    top: 160px;
    right: 150px;
    width: 250px;
}
.label_file{
    position: absolute;
    top: 237px;
    left: 150px;
    font-size: 18px;
    font-weight: 500;
}
.img{
    display: block;
    position: absolute;
    width:150px;
    height:30px;
    
    top:237px;
    right: 270px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
.label_textarea{
    position: absolute;
    left: 150px;
    top:313px;
}
.textarea{
    position: absolute;
    left: 150px;
    right: 150px;
    top:342px;
    width: auto;
    height: 100px;
    padding:10px 0 0 10px;
    resize:none;
    outline: none;
    color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
    border-radius: 4px;
    border: #BCBCBC solid 1px;
}
.label_email{
    position: absolute;
    top: 478px;
    left: 150px;
    font-size: 18px;
    font-weight: 500;
}
.email{
    position: absolute;
    left: 150px;
    right: 150px;
    top: 507px;
    width: auto;
    height: 44px;
    outline: none;
    color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
    border: #BCBCBC solid 1px;
    padding-left: 10px;
    border-radius: 4px;
}
.email_p{
    position: absolute;
    font-size: 14px;
    color: #2E2E2E;
    top: 563px;
    left: 150px;
    
}
.label_number{
    position: absolute;
    top: 613px;
    left: 150px;
    font-size: 18px;
    font-weight: 500;
}
.number{
    position: absolute;
    left: 150px;
    right: 150px;
    top: 642px;
    width: auto;
    height: 44px;
    outline: none;
    color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
    border: #BCBCBC solid 1px;
    padding-left: 10px;
    border-radius: 4px;
}
.number_p{
    position: absolute;
    font-size: 14px;
    color: #2E2E2E;
    top: 698px;
    left: 150px;
}
.piradi_div_next{
    position: relative;
    width: 60%;
}
.next{
    position: absolute;
    background-color: #6B40E3;
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 4px;
    top:880px;
    right:150px;
    border: none;
    cursor: pointer;
}
.piradi_next_a{
    position: absolute;
    background-color: #6B40E3;
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 4px;
    top:880px;
    right:150px;
    
    cursor: pointer;
}

/* -------ინფორმაციის ავტომატური ბეჭდვა----- */
.CV{
    color:#F93B1D;
    font-size: 24px;
    position:absolute;
    top: 28px;
    left: 10px;
    font-weight: bold;
}
.piradi_div_img{
    position: absolute;
    width:200px;
    height: 200px;
    border-radius: 50%;
    top: 20px;
    right: 20px;
    background-size: 100%;
}
.CV_email{
    position: absolute;
    font-size:18px;
    top: 87px;
    left: 10px;
}
.CV_tel{
    position: absolute;
    font-size:18px;
    top: 118px;
    left: 10px;
}
.CV_about{
    position: absolute;
    font-size: 18px;
    color:#F93B1D;
    top:173px;
    left:10px;
}
.CV_text{
    position: absolute;
    font-size: 16px;
    color:#000000;
    top:200px;
    left:10px;
    width:300px;
}
.redstar_div{
    position: absolute;
    bottom: 44px;
    left: 20px;
}


.em_c{
    position:absolute;
    top:520px;
    right:155px;
    color: #98E37E;
    
}
.em_x{
    position:absolute;
    top:520px;
    right:155px;
    color: #F02424;
    
    
}
.fa-circle-check-p{
    display: none;
}
.fa-circle-xmark-p{
    display: none;
}
.tel_c{
    position:absolute;
    top:654px;
    right:155px;
    color: #98E37E;
}
.tel_x{
    position:absolute;
    top:654px;
    right:155px;
    color: #F02424;
    
}
.fa-circle-check-tel-p{
    display: none;
}
.fa-circle-xmark-tel-p{
    display: none;
}

/* ---------gamocdileba.html-------
--------------------------------
-------------------------------- */

.label_tanamdeboba{
    position: absolute;
    top: 77px;
    left: 150px;
    font-size: 18px;
    font-weight: 500;
}
.tanamdeboba{
    position: absolute;
    left: 150px;
    right: 150px;
    top: 106px;
    width: auto;
    height: 44px;
    outline: none;
    color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
    border: #BCBCBC solid 1px;
    padding-left: 10px;
    border-radius: 4px;
}
.aso_2{
    position: absolute;
    top:162px;
}
.label_damsaqmebeli{
    position: absolute;
    top: 214px;
    left: 150px;
    font-size: 18px;
    font-weight: 500;
}
.damsaqmebeli{
    position: absolute;
    left: 150px;
    right: 150px;
    top: 243px;
    width: auto;
    height: 44px;
    outline: none;
    color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
    border: #BCBCBC solid 1px;
    padding-left: 10px;
    border-radius: 4px;
}
.aso_2_damsaqmebeli{
    position: absolute;
    top:299px;
}
.label_date_1{
    position: absolute;
    width: 250px;
    top: 351px;
    left: 150px;
    font-weight: 500;
    font-size: 16px;
}
.date_1{
    position: absolute;
    top:380px;
    left: 150px;
    width: 250px;
    height: 44px;
    outline: none;
    color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
    border: #BCBCBC solid 1px;
    padding-left: 10px;
    border-radius: 4px;
}

.label_date_2{
    position: absolute;
    width: 250px;
    top: 351px;
    right: 150px;
    font-weight: 500;
    font-size: 16px;
}
.date_2{
    position: absolute;
    right: 150px;
    top: 380px;
    width: 250px;
    height: 44px;
    outline: none;
    color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
    border: #BCBCBC solid 1px;
    padding-left: 10px;
    border-radius: 4px;
}
.lastname_p{
    position: absolute;
    font-size: 14px;
    color: #2E2E2E;
    top: 160px;
    right: 150px;
    width: 250px;
}
.label_agwera{
    position: absolute;
    left: 150px;
    top:461px;
}
.agwera{
    position: absolute;
    left: 150px;
    right: 150px;
    top:490px;
    width: auto;
    height: 100px;
    padding:10px 0 0 10px;
    resize:none;
    outline: none;
    color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
    border-radius: 4px;
    border: #BCBCBC solid 1px;
}
.gamocdileba_next{
    position: absolute;
    background-color: #6B40E3;
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 4px;
    top:880px;
    right:150px;
    cursor: pointer;
}
.gamocdileba_prev_a{
    position: absolute;
    background-color: #6B40E3;
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 4px;
    top:880px;
    left:150px;
    cursor: pointer;
}
.invalid{
    border-color: #F02424;
}
.valid{
    border-color:#98E37E;
}
.tan_c{
    color: #98E37E;
    position: absolute;
    right: 160px;
    top:121px;
}
.tan_x{
    color: #F02424;
    position: absolute;
    right: 160px;
    top:121px;
}
.dam_c{
    color: #98E37E;
    position: absolute;
    right: 160px;
    top:255px;
}
.dam_x{
    color: #F02424;
    position: absolute;
    right: 160px;
    top:255px;
}
.tan_c_p{
    display: none;
}
.tan_x_p{
    display: none;
}
.dam_c_p{
    display: none;
}
.dam_x_p{
    display: none;
}

.CV_name_1{
    color:#F93B1D;
    font-size: 24px;
    position:absolute;
    top: 28px;
    left: 10px;
}
.CV_lastname_1{
    color:#F93B1D;
    font-size: 24px;
    position:absolute;
    top: 28px;
    left: 120px;
}
.piradi_div_img{
    position: absolute;
    width:200px;
    height: 200px;
    border-radius: 50%;
    top: 20px;
    right: 20px;
    background-size: 100%;
}
.CV_email{
    position: absolute;
    font-size:18px;
    top: 87px;
    left: 10px;
}
.CV_tel{
    position: absolute;
    font-size:18px;
    top: 118px;
    left: 10px;
}
.CV_about{
    position: absolute;
    font-size: 18px;
    color:#F93B1D;
    top:173px;
    left:10px;
}
.CV_text{
    position: absolute;
    font-size: 16px;
    color:#000000;
    top:200px;
    left:10px;
    width:300px;
}
